<script>
import { Navigation, Pagination, A11y } from 'swiper/modules';
import SwiperCard from "@/components/SwiperCard.vue"
import { Swiper, SwiperSlide } from 'swiper/vue';
import 'swiper/css';
import 'swiper/css/pagination';
import 'swiper/css/navigation';
export default {
  props: {
    products: Array,
  },
  components: {
    Swiper,
    SwiperSlide,
    SwiperCard,
  },

  data() {
    return {
      modules: [Navigation, Pagination, A11y],
      pagination: {
        type: 'fraction',
        el: '.swiper__pagination',
      },
      navigation: {
        nextEl: '.swiper__button-next',
        prevEl: '.swiper__button-prev',
      }
    }
  }
}
</script>

<template>
  <h3 class="swiper__head">Просмотренные товары</h3>

  <swiper :modules="modules" :navigation="navigation" :pagination="pagination" :ally="true" :hideOnClick="true"
    :grabCursor="true" :loop="true" :slides-per-view="4" :space-between="65" @swiper="onSwiper"
    @slideChange="onSlideChange">


    <div class="swiper__navigation-block">
      <button class="swiper__button swiper__button-prev">
        <svg width="10" height="20" viewBox="0 0 10 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M9 19L1 10L9 0.999999" stroke="white" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </button>
      <div class="swiper__pagination">
        <span class="swiper-pagination-current" :class="{'swiper__pagination-big':true}">1</span>
        /
        <span class="swiper-pagination-total">8</span>
      </div>
      <button class="swiper__button swiper__button-next">
        <svg width="10" height="20" viewBox="0 0 10 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 1L9 10L1 19" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
    </div>
    <swiper-slide v-for="product in products" :key="product.id" :product="product">
      <SwiperCard :item="product" />
    </swiper-slide>

  </swiper>
</template>

<style scoped>
.swiper__head {
  font-weight: 600;
  font-size: 30px;
  text-align: left;
}

.swiper {
  position: relative;
  padding-top: 70px;
}

.swiper__navigation-block {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  width: 180px;
  height: 50px;
  top: 0;
  left: calc(100% - 180px);
}

.swiper__button {
  position: relative;
  height: 50px;
  width: 50px;
  background-color: #90A2B5;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: background-color .3s ease;
}

.swiper__button:hover {
  background-color: #738496;
}

.swiper__pagination {
  position: relative;
  width: max-content;
  margin: 0 10px;
  bottom: 0;
  color:#8F919B;
  font-weight: 400;
  font-size: 18px;
}

.swiper__paginationt:first-child  {
  color: #212121;
  font-weight: 500;
  font-size: 24px;
}

</style>