<script>
import { SwiperSlide } from 'swiper/vue';
import 'swiper/css';
import 'swiper/css/pagination';
import 'swiper/css/navigation';
export default {
  components: {
    SwiperSlide,
  }
}
</script>

<template>
  swiper-slide
</template>