<script>
import { mapMutations } from 'vuex';
export default {
  data(){
    return{
      isChecked:false,
    }
  },
  methods: {
    ...mapMutations({ changeChecked: 'updateInstall' })
  },
  watch:{
    isChecked() {
      this.changeChecked(this.isChecked)
    }
  }
}
</script>

<template>
  <div class="consultation">
    <label for="consultation" class="consultation__label">
      <input type="checkbox" id="consultation" v-model="isChecked">
      <span class="consultation__checkbox"></span>
      <span class="consultation__icon">
        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M23.6933 28.61C20.8529 28.61 18.5421 26.2992 18.5421 23.4589C18.5421 22.7656 18.6807 22.0892 18.9542 21.4484C19.4636 20.2325 20.4566 19.2345 21.6774 18.7139C21.6935 18.7071 21.7101 18.7009 21.7267 18.6956C22.3459 18.4381 23.0071 18.3077 23.6933 18.3077C26.5337 18.3077 28.8448 20.6185 28.8448 23.4589C28.8448 26.2992 26.5337 28.61 23.6933 28.61ZM22.091 19.7922C21.1619 20.2004 20.4075 20.9658 20.0171 21.8977C19.8036 22.3983 19.696 22.9222 19.696 23.4589C19.696 25.6629 21.4893 27.4562 23.6933 27.4562C25.8976 27.4562 27.6909 25.6629 27.6909 23.4589C27.6909 21.2548 25.8976 19.4615 23.6933 19.4615C23.1474 19.4615 22.6234 19.5672 22.1358 19.7753C22.1211 19.7815 22.1062 19.7872 22.091 19.7922Z"
            fill="#0069B4" />
          <path
            d="M6.54113 11.4564C6.25014 11.4564 5.95688 11.4325 5.66392 11.3843C3.4413 11.0176 1.69898 9.19186 1.42714 6.94473C1.34713 6.28527 1.39052 5.63031 1.55587 4.99846C1.60799 4.79845 1.76349 4.64154 1.96293 4.58746C2.16238 4.53309 2.37591 4.59028 2.52183 4.73648L4.67148 6.88585H6.49803L7.28623 6.09766V4.27111L5.23967 2.22427C5.08925 2.07384 5.03375 1.85271 5.09544 1.64904C5.15714 1.44565 5.32588 1.29241 5.53433 1.25071C5.85575 1.18649 6.1938 1.15381 6.53944 1.15381C9.37983 1.15381 11.6909 3.4646 11.6909 6.30499C11.6909 6.99177 11.5548 7.66673 11.2861 8.31098C10.7678 9.53384 9.7728 10.5311 8.55557 11.05C8.53895 11.057 8.52205 11.0632 8.50515 11.0688C7.88625 11.326 7.21975 11.4564 6.54113 11.4564ZM8.32937 10.5192H8.335H8.32937ZM2.54295 6.38922C2.54577 6.52753 2.55563 6.66669 2.57253 6.80613C2.78324 8.54761 4.13175 9.96203 5.85181 10.2457C6.6279 10.3736 7.4037 10.2851 8.09668 9.98879C8.1119 9.98231 8.12739 9.97639 8.14288 9.97132C9.06996 9.5637 9.82661 8.79776 10.2227 7.86364C10.4309 7.36418 10.5371 6.83853 10.5371 6.30499C10.5371 4.24914 8.977 2.55104 6.97861 2.3316L8.27106 3.62432C8.37923 3.7325 8.44008 3.87926 8.44008 4.03223V6.33654C8.44008 6.4895 8.37923 6.63627 8.27106 6.74444L7.14482 7.87068C7.03664 7.97885 6.88988 8.0397 6.73691 8.0397H4.4326C4.27964 8.0397 4.13287 7.97885 4.0247 7.87068L2.54295 6.38922Z"
            fill="#0069B4" />
          <path
            d="M21.902 19.8192C21.7541 19.8192 21.6065 19.7629 21.4938 19.6499L18.0844 16.2346C17.8593 16.009 17.8596 15.6439 18.085 15.4188C18.3106 15.194 18.6757 15.1934 18.9008 15.4194L22.3102 18.8347C22.5356 19.0603 22.535 19.4254 22.3096 19.6505C22.197 19.7629 22.0496 19.8192 21.902 19.8192Z"
            fill="#0069B4" />
          <path
            d="M14.1712 12.0887C14.0233 12.0887 13.8757 12.0323 13.763 11.9194L10.3477 8.49809C10.1223 8.27245 10.1229 7.90737 10.3483 7.68229C10.5739 7.45721 10.939 7.45721 11.1641 7.68285L14.5794 11.1041C14.8048 11.3298 14.8042 11.6948 14.5788 11.9199C14.4662 12.0323 14.3185 12.0887 14.1712 12.0887Z"
            fill="#0069B4" />
          <path
            d="M11.7485 14.5174C11.6009 14.5174 11.4533 14.4611 11.3406 14.3484L7.91939 10.9275C7.69403 10.7021 7.69403 10.337 7.91939 10.1116C8.14475 9.88629 8.50983 9.88629 8.73519 10.1116L12.1564 13.5326C12.3818 13.758 12.3818 14.1231 12.1564 14.3484C12.0438 14.4611 11.8962 14.5174 11.7485 14.5174Z"
            fill="#0069B4" />
          <path
            d="M19.4848 22.254C19.3372 22.254 19.1896 22.1977 19.0769 22.085L15.6559 18.6637C15.4305 18.4384 15.4305 18.0733 15.6559 17.8479C15.8813 17.6226 16.2463 17.6226 16.4717 17.8479L19.8927 21.2692C20.118 21.4945 20.118 21.8596 19.8927 22.085C19.78 22.1977 19.6324 22.254 19.4848 22.254Z"
            fill="#0069B4" />
          <path
            d="M24.8539 26.0454H22.5327C22.3265 26.0454 22.1361 25.9355 22.0329 25.7569L20.8723 23.7467C20.7695 23.5681 20.7695 23.3484 20.8723 23.1698L22.0329 21.1593C22.1361 20.9807 22.3265 20.8708 22.5327 20.8708H24.8539C25.0601 20.8708 25.2505 20.9807 25.3536 21.1593L26.5142 23.1698C26.6171 23.3484 26.6171 23.5681 26.5142 23.7467L25.3536 25.7569C25.2505 25.9355 25.0601 26.0454 24.8539 26.0454ZM22.8657 24.8916H24.5209L25.3483 23.4583L24.5206 22.0247H22.8659L22.0383 23.4583L22.8657 24.8916Z"
            fill="#0069B4" />
          <path
            d="M14.3616 20.2233C14.0216 20.2233 13.6819 20.094 13.423 19.8351L10.1654 16.5835C9.65411 16.0615 9.65411 15.2231 10.1595 14.7079L22.6307 2.23644C24.0234 0.850187 26.2835 0.85075 27.6694 2.23644L27.7554 2.317C29.1568 3.7179 29.1568 5.97855 27.7675 7.36762L15.3002 19.8351C15.0414 20.094 14.7016 20.2233 14.3616 20.2233ZM25.1479 2.35137C24.5307 2.35137 23.9152 2.58575 23.4456 3.05337L10.9784 15.5209C10.9147 15.5857 10.9147 15.6995 10.9835 15.7696L14.2388 19.0193C14.3075 19.0881 14.4157 19.0881 14.4844 19.0193L26.9517 6.55181C27.4063 6.09715 27.6568 5.49205 27.6568 4.84837C27.6568 4.2044 27.4063 3.59931 26.9517 3.14464L26.8657 3.06407C26.39 2.58828 25.7682 2.35137 25.1479 2.35137Z"
            fill="#0069B4" />
          <path
            d="M3.24498 28.8461C3.09568 28.8461 2.94806 28.7884 2.83679 28.6771L1.32462 27.1647C1.13588 26.9759 1.10123 26.6827 1.24068 26.4553L3.18554 23.2828C3.38583 22.9561 3.71711 22.729 4.09402 22.6597C4.46981 22.5893 4.86025 22.6848 5.16392 22.9192C5.24139 22.9792 5.28252 23.0152 5.32083 23.0538L6.77469 24.5077C6.80511 24.5381 6.83413 24.5702 6.86173 24.6037L7.03949 24.8218C7.28597 25.1237 7.38992 25.5178 7.32485 25.9021C7.2595 26.2869 7.0316 26.6244 6.69891 26.8283L3.54612 28.7611C3.45287 28.8183 3.34864 28.8461 3.24498 28.8461ZM2.46213 26.6706L3.3309 27.5396L6.09579 25.8449C6.16227 25.8041 6.18143 25.7424 6.18706 25.7091C6.19269 25.6762 6.19495 25.6117 6.14537 25.5508L5.95888 25.3235L4.50503 23.8696C4.50446 23.8693 4.45911 23.8327 4.45854 23.8324C4.39826 23.7857 4.33572 23.7899 4.3022 23.7947C4.2698 23.8006 4.20924 23.8203 4.16924 23.886L2.46213 26.6706Z"
            fill="#0069B4" />
          <path
            d="M4.64663 23.7724C4.49901 23.7724 4.3514 23.7161 4.23872 23.6034C4.01336 23.378 4.01336 23.0126 4.23872 22.7876L10.715 16.3124C10.9404 16.087 11.3055 16.087 11.5308 16.3124C11.7562 16.5378 11.7562 16.9031 11.5308 17.1282L5.05453 23.6034C4.94185 23.7161 4.79424 23.7724 4.64663 23.7724Z"
            fill="#0069B4" />
          <path
            d="M6.80513 25.9309C6.65752 25.9309 6.50991 25.8746 6.39723 25.7619C6.17187 25.5365 6.17187 25.1712 6.39723 24.9461L12.8735 18.4712C13.0989 18.2458 13.464 18.2458 13.6893 18.4712C13.9147 18.6966 13.9147 19.0619 13.6893 19.287L7.21304 25.7619C7.10036 25.8746 6.95274 25.9309 6.80513 25.9309Z"
            fill="#0069B4" />
          <path
            d="M14.3601 16.2177C14.2125 16.2177 14.0649 16.1614 13.9522 16.0487C13.7269 15.8233 13.7269 15.4582 13.9522 15.2329L24.745 4.44008C24.9704 4.21472 25.3355 4.21472 25.5608 4.44008C25.7862 4.66544 25.7862 5.03052 25.5608 5.25588L14.768 16.0487C14.6553 16.1614 14.5077 16.2177 14.3601 16.2177Z"
            fill="#0069B4" />
        </svg>
      </span>
      <div class="consultation__description">
        <h4 class="consultation__head">Установка</h4>
        <p class="consultation__text">
          Отметьте, если Вам необходима консультация профессионала по монтажу выбранных товаров.
        </p>
      </div>
    </label>
  </div>
  <slot />
</template>

<style scope>
.consultation,
.consultation__label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.consultation {
  padding: 30px 40px 30px 25px;
  background-color: #EEF1F4;
}

.consultation input {
  cursor: pointer;
}

.consultation__label {
  display: flex;
  width: 100%;
  cursor: pointer;
}

.consultation__icon {
  margin-left: 5px;
  margin-right: 5px;
}

.consultation__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5px;
  margin-right: 5px;
}

.consultation__head,
.consultation__text {
  margin: 0;
  padding: 0;
}

.consultation__head {
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;
  color: #2c3242;
}

.consultation__text {
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #8f919b;
}
</style>