<script>
import NumberFormat from '@/helpers/NumberFormat';
import Pluralize from '@/helpers/Pluralize'
import { mapGetters } from 'vuex';
export default {
  methods: {
    NumberFormat,
    Pluralize,
  },
  computed: {
    ...mapGetters(['productsCount', 'totalPrice'])
  }
}
</script>

<template>
  <div class="cart">
    <router-link class="cart__icon" :to="{ name: 'cart' }">
      <img src="../../public/img/cart-icon.png" alt="Корзина">
    </router-link>
    <div class="cart__description">
      <h6 class='cart__title'>Ваша корзина</h6>
      <span class="cart__count-products"> {{ productsCount }} {{Pluralize(['товар','товара','товаров'],
        productsCount)}}</span>
      <span class="cart__price">{{ NumberFormat(totalPrice) }}</span>
    </div>
  </div>
</template>

<style scoped>
.cart {
  display: flex;
  flex-direction: row;
}

.cart__icon {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.cart__description {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-weight: 400;
  font-style: 12px;

}

.cart__title {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
}

.cart__count-products {
  color: #8F919B;
}

.cart__price {
  color: var(--color-text-secondary)
}
</style>