<script>
import NumberFormat from '@/helpers/NumberFormat';
import { mapGetters, mapActions } from 'vuex';
export default {
methods:{
  NumberFormat,
  ...mapActions(['sendOrder']),
},
computed:{
  ...mapGetters(['productsCount', 'totalPrice', 'priceProducts', 'priceInstall']),
}
}
</script>

<template>
  <div class="cart__block">
    <h2 class="cart__header">Итого</h2>
    <ul class="cart__orders">
      <li class="cart__order">
        <h3>Сумма заказа</h3>
        <b> {{ NumberFormat(priceProducts) }}</b>
      </li>
      <li class="cart__order">
        <h3>Количество</h3>
        <b> {{ productsCount }} шт.</b>
      </li>
      <li class="cart__order">
        <h3>Установка</h3>
        <b v-if="!priceInstall"> Нет </b>
        <b v-else> {{ NumberFormat(priceInstall) }} </b>
      </li>
      <li class="cart__order">
        <h3>Стоимость товаров</h3>
        <b> {{ NumberFormat(totalPrice) }} </b>
      </li>
    </ul>

    <button @click="sendOrder" class="cart__button button button--primery" type="submit">
      Оформить заказ
    </button>

    <button class="cart__button button button--speed" type="submit">
      Купить в 1 клик
    </button>
  </div>
</template>

<style scoped>
h2 {
  margin: 0 0 30px 0;
  padding: 0;
  text-align: left;
  font-weight: 600;
  font-size: 24px;
}

.cart__block {
  background-color: #EEF1F4;
  padding: 35px 30px
}

.cart__orders {
  list-style: none;
  padding: 0 30px 25px;
  margin: 0 -30px 0;
  font-weight: 500;
  font-size: 16px;
  color: var(--color-text-main);
}

.cart__order {
  display: grid;
  grid-template-columns: 1fr 90px;
  grid-gap: 5px 20px
}

.cart__order:not(:last-child) {
  margin-bottom: 20px;
  /* border-bottom: 1px solid #dedede; */
}

.cart__order:last-child {
  padding-top: 20px;
  /* margin-bottom: 20px; */
  border-top: 1px solid #dedede;
  font-weight: 600;
}

.cart__order h3 {
  margin: 0;
  text-align: left;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400
}

.cart__order b {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: right
}

.cart__order span {
  font-size: 12px;
  line-height: 1;
  color: #9d9d9d
}

.cart__button {
  cursor:pointer;
  width: 100%;
  text-align: center;
  padding: 14px 40px;
  border-radius: 4px;
  border: 1px solid var(--color-button);
}

.cart__button:not(:last-child) {
  margin-bottom: 10px;
}

.button--primery {
  background-color: var(--color-button);
  color: #fff;
  transition: background-color .3s ease, color .3s ease;
}

.button--primery:hover {
  background-color: #5a9ecf;
  color: #fff;
}

.button--speed {
  color: var(--color-button);
  transition: background-color .3s ease, color .3s ease;
}

.button--speed:hover {
  color:#fff;
  background-color: #5a9ecf;
}
</style>