<script>
import NumberFormat from '@/helpers/NumberFormat'
import { mapMutations } from 'vuex'
export default {
  props: {
    product: Object,
  },
  data() {
    return {
    }
  },
  methods: {
    ...mapMutations(['deleteProductFromCart']),
    NumberFormat,
    deleteProduct() {
      this.deleteProductFromCart(this.product.id)
    }
  },
  computed: {
    productAmount: {
      get() {
        return this.product.quantity
      },
      set(value) {
        if (value > 20) {
          value = 20
        } else if (value <= 1) {
          value = 1
        }
        this.$store.commit('updateCartProductAmount', {basketId:this.product.id, quantity: value})

      }
    }
  }
}
</script>

<template>
  <li class="cart__item product">
    <div class="product__pic">
      <img width="100" height="100" :src="product.gallery.url" :alt="product.title">
    </div>
    <div class="product__description">
      <h3 class="product__title">
        {{ product.title }}
      </h3>
      <p class="product__info product__info--color">
        {{ product.description.descr1 }} / {{ product.description.descr2 }} / {{ product.description.descr3 }}
      </p>
      <span class="product__code">
        Артикул: {{ product.id }}
      </span>
    </div>
    <div class="form__info">
      <div class="product__counter form__counter">
        <button @click="productAmount--" class="form__button" type="button" aria-label="Убрать один товар">
          <svg width="10" height="5" viewBox="0 0 10 5" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9 1L1 1" stroke="#33374E" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </button>

        <input type="text" name="count" v-model.number="productAmount">

        <button @click="productAmount++" class="form__button" type="button" aria-label="Добавить один товар">
          <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5 1V9" stroke="#33374E" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M9 5L1 5" stroke="#33374E" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </button>
      </div>
      <span class="form__price">{{ NumberFormat(product.price) }}/шт.</span>
    </div>
    <b class="product__price">
      {{ NumberFormat(product.price * product.quantity) }}
    </b>

    <div class="form__del">
      <button @click="deleteProduct" class="product__del button-del" type="button" aria-label="Удалить товар из корзины">
        <svg width="12" height="12" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 1L13 13" stroke="#1F2432" stroke-width="1.5" />
          <path d="M1 13L13 1" stroke="#1F2432" stroke-width="1.5" />
        </svg>
      </button>
    </div>
  </li>
</template>

<style scoped>
button {
  cursor: pointer;
}

.product,
.product__counter {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

.product {
  padding: 25px 0;
  justify-content: space-between;
}

.product:not(:last-child) {
  border-bottom: 1px solid #c4c4c4;
}

.product__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 263px;
  margin-left: 5px;
  margin-right: 5px;
}

.product__title {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;
}

.product__info,
.product__code {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.product__info {
  text-align: left;
}

.product__code {
  color: #8F919B;
}

.form__info {
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
}

.product__price {
  margin-left: 5px;
  margin-right: 5px;
}

.form__button,
.form__counter input {
  width: 34px;
  height: 34px;
  border: none;
  background-color: #EEF1F4;
  transition: background-color .3s ease;
}

.form__button:hover,
.form__counter input:hover {
  background-color: #bfc9d3;
}

.form__counter input {
  text-align: center;
  margin-left: 2px;
  margin-right: 2px;
}

.form__counter input:focus {
  outline: none;
}

.form__button:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.form__button:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.form__price {
  position: absolute;
  width: 100%;
  left: 0;
}

.product__price {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #2C3242;
}

.form__del {
  height: 100px;
  width: max-content;
}

.product__del {

  border: none;
  width: 30px;
  height: 30px;
  background-color: transparent;
}




/* .product {
  display: grid;
  grid-template-columns: 120px 280px 140px auto 20px;
  grid-template-rows: repeat(3, -webkit-min-content);
  grid-template-rows: repeat(3, min-content);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-gap: 10px 20px
}

.product__pic,
.product__title {
  align-self: flex-start;
  grid-column: 1/2;
  grid-row: 1/4
}

.product__title {
  margin: 0;
  grid-column: 2/3;
  grid-row: 1/2;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400
}

.cart__item:not(:last-child) {
  margin-bottom: 60px
}

.product__info {
  margin: 0;
  grid-column: 2/3;
  grid-row: 2/3;
  font-size: 14px;
  line-height: 1;
  color: #737373
}

.product__info--color span {
  position: relative;
  display: inline-block;
  padding-left: 30px;
  vertical-align: top
}

.options__value::before,
.product__info--color span i {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%
}

.product__info--color span i {
  left: 5px;
  display: block
}

.product__info span {
  color: #222
}

.options__value::before,
.product__info--color span i {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%
}

.product__info--color span i {
  left: 5px;
  display: block
}

.product__info span {
  color: #222
}

.product__code {
  grid-column: 2/3;
  grid-row: 3/4;
  font-size: 12px;
  color: #b9b9b9
}

.product__del {
  grid-column: 5/6;
  grid-row: 1/2
}

.product__counter {
  width: 130px;
  height: 40px
}

.product__counter input {
  padding: 10px 5px;
  height: 40px;
  width: 55px
} */
</style>