<script lang="js">
import CartIndicator from '@/components/CartIndicator.vue'
export default {
  components: {
    CartIndicator,
  },
  data() {
    return {

    }
  }
}
</script>

<template>
  <header class="header">
    <div class="header__wrapper">
      <span class="header__info">Каталог</span>

      <router-link class="header__logo" :to="{ name: 'main' }">
        <img src="" alt="Здесь должен быть логотип" width="116" height="34">
      </router-link>

      <CartIndicator />
    </div>
  </header>
</template>

<style scoped>
header {
  width: 100%;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
</style>