<script>
import NumberFormat from '@/helpers/NumberFormat';

export default {
props:{
  item:Object,
},
methods:{
  NumberFormat,
}
}
</script>

<template>
  <div class="card">
    <img class="card__picture" :src="item.gallery.url" :alt="'Картнка товара '+ item.title">
    <div class="card__info">
      <h3 class="card__title">{{ item.title }}</h3>
      <p class="card__description">
        {{ item.description }}
      </p>
      <div class="cart__price">
        <div class="price__rus">
          <span>{{NumberFormat(6848)}}</span>
        </div>
        <div class="price__eu">
          <span>{{NumberFormat(68, 'EUR')}}</span>
        </div>
      </div>
      <button class="card__button">Подробнее</button>
    </div>



  </div>
</template>

<style scoped>
.card {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 305px;
  height: 563px;
  padding: 25px;
  background-color: #EEF1F4;
}


.card__picture {
  width: 100%;
  color: var(--color-text-main);
}

.card__info {
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  height: 50%;
}

.card__title,
.card__description {
  margin: 0;
}

.card__title {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 2px;
}

.card__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5em;
}

.price__rus {
  font-size: 22px;
  font-weight: 500;
  line-height: 2em;
}

.price__eu {
  color: #8F919B;
  font-size: 16px;
  font-weight: 400;
  line-height: 2em;
}

.card__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 52px;
  background-color: var(--color-button);
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color .3s ease;
}

.card__button:hover {
  background-color: rgb(78, 141, 236);
}
</style>