<script>
// import { mapActions } from 'vuex';
import HeaderBase from '@/components/HeaderBase.vue'
export default {
  methods: {
    // ...mapActions(['getCurrentCourse'])
  },
  components: {
    HeaderBase,
  },
  created() {
    // не пропускает этот запрос политика CORS
    // this.getCurrentCourse()
  }

}
</script>
<template>
  <div class="container">
    <HeaderBase />
    <router-view />

  </div>
</template>

<style>
:root {
  --color-text-main: #2C3242;
  --color-text-secondary: #1F2432;
  --color-button: #0069B4;

}

#app {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--color-text-main);
}

.container {
  max-width: 1440px;
  padding-left: 80px;
  padding-right: 80px;
  margin-right: auto;
  margin-left: auto;
}
</style>