<script>
import CartItem from "@/components/CartItem.vue"
import BaseCheckbox from "@/components/BaseCheckbox.vue";
import CartOrderBoard from "@/components/CartOrderBoard.vue"
import { mapGetters } from "vuex";
import Pluralize from "@/helpers/Pluralize"
import BaseSwiper from "@/components/BaseSwiper.vue";
export default {
  components: {
    CartItem,
    CartOrderBoard,
    BaseCheckbox,
    BaseSwiper,
  },
  computed: {
    ...mapGetters(['products', 'productsCount', 'productsSwiper'])
  },
  methods: {
    Pluralize,
  },
}
</script>

<template>
  <ul class="breadcrumbs">
    <li class="breadcrumbs__item">
      <router-link :to="{ name: 'main' }" style="text-decoration: none;" class="breadcrumbs__link">
        Каталог
      </router-link>
    </li>
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link">
        Корзина
      </a>
    </li>
  </ul>

  <section class="cart">
    <div class="cart__header">
      <div class="cart__info">
        <h2 class="cart__title">Ваша корзина</h2>
        <span class="cart__count">{{ productsCount }} {{ Pluralize(['товар', 'товара', 'товаров'], productsCount) }}</span>
      </div>
      <button @click.prevent="this.$store.commit('resetCart')" class="cart__clear-btn">Очистить корзину</button>
    </div>

    <form v-if="!this.$store.state.sendOrderSuccess && !this.$store.state.sendOrderFailed" class="cart__form form"
      action="#" method="POST" @submit.prevent="console.log('form')">
      <div class="cart__field">
        <ul class="cart__list">
          <CartItem v-for="product in products" :product="product" :key="product.id" />
        </ul>
        <BaseCheckbox />
      </div>
      <CartOrderBoard />
    </form>
    <div v-if="this.$store.state.sendOrderFailed">
      Ошибка
      <button @click.prevent="this.$store.commit('changeOrderFailed', false)">
        Назад в корзину
      </button>
    </div>
    <div v-if="!this.$store.state.sendOrderFailed && this.$store.state.sendOrderSuccess">Заказ успешно создан</div>
    {{ this.$store.state.productsOrder }}
    <BaseSwiper :products="productsSwiper" />

  </section>
</template>

<style scoped>
button {
  cursor: pointer;
}

.cart__form {
  display: grid;
  grid-template-columns: 1fr 370px;
  grid-template-rows: auto 1fr;
  grid-gap: 20px 50px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start
}

.cart__header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 20px;
}

.cart__info {
  display: flex;
  align-items: flex-end;
}

.cart__title {
  font-weight: 700;
  font-size: 44px;
  margin: 0;
  padding: 0;
  margin-right: 20px;
}

.cart__count {
  font-size: 18px;
  color: #8F919B;
}

.cart__clear-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #8F919B;


}

/* Боковая плашка */



/* Хлебные крошки */
.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.breadcrumbs__item {
  position: relative
}

.breadcrumbs__item:not(:last-child) {
  padding-right: 35px
}

.breadcrumbs__item:not(:last-child)::after {
  content: url(../../public/img/bread.svg);
  position: absolute;
  top: 50%;
  right: 13px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #33374E;
}

.breadcrumbs__link {
  font-size: 14px;
  line-height: 1;
  color: #33374E;
  -webkit-transition: all .2s ease;
  transition: all .2s ease
}

.breadcrumbs__link[href]:focus,
.breadcrumbs__link[href]:hover {
  color: #8F919B
}
</style>